# Add More Criteria to a Statement and Get More Specific

You can use the operators such as (AND, IS, IS NOT, etc) to filter by several conditions

In [ ]:
SELECT first_name, last_name, team
FROM people 
WHERE shirt_or_hat = 'shirt' AND state = 'CA' AND team IS NOT 'blue';

!= is equal to IS Not

Rather than looking for conditions that are all true, we can filter results where one of two conditions is true.

For example, if we want to see everyone who wanted a shirt but was in California or Colorado. Then, we would use OR

In [ ]:
SELECT first_name, last_name, shirt_or_hat, state
FROM people 
WHERE state = 'CA' OR state = 'CO' AND shirt_or_hat = 'shirt'  ;

If we run this, we can see that we are getting unexpected results, we are getting some records where they chose a hat. This is because the way we set up the conditions is pairing the last two together, so it's showing the records where the state is California OR the state is Colorado AND they chose a shirt.

What we want to see is the records where they chose a shirt and the state is either California or Colorado, so we need to add some parenthesis.

In [ ]:
SELECT first_name, last_name, shirt_or_hat, state
FROM people 
WHERE (state = 'CA' OR state = 'CO') AND shirt_or_hat = 'shirt'  ;

Parenthesis are very useful to improving teh quality of the query

There are some other operators that let us interact with text, such as the LIKE operator.

Let's say we cant to extract all of the results where the state starts with C, it could be CA, CO, CT, etc. In this case we could use the LIKE 'C%' indicating that we want the C and whatever comes after that, we're just matching the first character

In [ ]:
SELECT first_name, last_name, state
FROM people 
WHERE state LIKE 'C%';

Or we could put the % at the end to show we want any state endin with a letter, for example N

In [ ]:
SELECT first_name, last_name, state
FROM people 
WHERE state LIKE '%N';

You can also use more than one % sign if you want to match the text somewhwere in the middle of the field.

Let's say we want to get all the first names that have a J somewhere in the name

In [ ]:
SELECT first_name, last_name, state
FROM people 
WHERE first_name LIKE '%J%';

In [ ]:
SELECT first_name, last_name, state
FROM people 
WHERE first_name LIKE '%on%';

We can also tell limit the amount of results that get returned.

LIMIT tells the database to stop returning results after a number of them have met our search criteria

So if I only wanted to see the first 5 results in this last query, i could use LIMIT

In [ ]:
SELECT first_name, last_name, state
FROM people 
WHERE first_name LIKE '%on%'
LIMIT 5;

In [ ]:
SELECT first_name, last_name, state
FROM people 
WHERE first_name LIKE '%on%'
LIMIT 5 OFFSET 5;

If I wanted to see a specific set of them, like the second set of five responses, I could use the OFFSET commando to tell the database to skip some records before counting off mu five