# Organize Responses with ORDER BY
- Sets the prder of the returned records based on given criteria

In [ ]:
SELECT first_name, last_name
FROM people;

This is the order in which the records are in the database but that's not useful

In [ ]:
SELECT first_name, last_name
FROM people
ORDER BY first_name;

This orders the records by the first name initial. By default they're ordered in ascending order, which means the values start small and they get larger. You can also specify the order by adding ASC to the ORDER BY clause

In [ ]:
SELECT first_name, last_name
FROM people
ORDER BY first_name ASC;

Or you can switch up the order by adding DESC and ordering them in descending order instead, with larger values first

In [ ]:
SELECT first_name, last_name
FROM people
ORDER BY first_name DESC;

You can also order by more than one field as well if we want to add a secondary or tertiary sort order.

For example, we could sort first by state, and then within the state, sort by last_name

In [ ]:
SELECT state, last_name, first_name
FROM people
ORDER BY state ASC, last_name DESC;

Let's get the first name of everyone in our database, and let's find out how long the information in a given field is rather than the value itself, using LENGTH

In [ ]:
SELECT first_name, LENGTH(first_name)
FROM people

Let's look out at only pulling out the unique values, or values that are distinct from one another with a function called DISTINCT

In [ ]:
SELECT DISTINCT(first_name)
FROM people;

This has filtered the information that I get back from the database, and I have only one resuly for each unique name in the database.

If it finds a second instance of a name it has already seen, it just ignores it. So I get one result if there's one nada and one result if there's 100 records with the same name

In [ ]:
SELECT DISTINCT(first_name)
FROM people
ORDER BY first_name;

If I want to make sure that in the field shirt_or_hat I only have shirt or hat, I can also use the DISTINCT function to see the different values that I have in that field

In [ ]:
SELECT DISTINCT(shirt_or_hat)
FROM people;

We can also use the COUNT function to see how many records match a given criteria

For example, I could count how many people in my database are from California

In [ ]:
SELECT COUNT(*)
FROM people
WHERE state = 'CA'

I can see that the count is 127, meaning that 127 records in my database are from California.

We can use * in the COUNT function because the COUNT function gives us the number of rows that match that condition, so I don't need to ask for a particular field