# Compound SELECT

- Sometimes we need to use more than one SELECT statement to get the information we want, we can't always set up a WHERE clause in a statement otherwise
- Using a secondary SELECT statement is called a subquery or subselect, and it helps us to narrow down or zero in  on a specific set of data to use in a larger query


### Example 1
Let's get a listing of all the people in our database who achieve the highest score on our quiz

In [ ]:
SELECT first_name, last_name, quiz_points
FROM people
WHERE quiz_points = MAX(quiz_points);

When I run that, I have an error, a misuse of aggregate funciton MAX().

This is because the MAX function, like other aggregate functions need to be part of a SELECT clause in order to work

In [ ]:
SELECT first_name, last_name, quiz_points
FROM people
WHERE quiz_points = (SELECT MAX(quiz_points) FROM people);

We can also use a subquery to use information from one table to inform a search on another table

### Example 2
Let's say we want to find all of the participants from Minnesota but you can never remember what the state abbreviation for Minnesota is.

Instead of specifying the state abbreviation, let's look up the name Minnesota in the states table, get its abbreviation, and then use that to look up people

In [ ]:
SELECT * 
FROM people
WHERE state = (SELECT state_abbrev FROM states WHERE state_name = 'Minnesota');