# Transform Data

In [ ]:
SELECT first_name, last_name
FROM people;

Let's add functions to change the capitalization:
- Lower - gives lowercase representation of the field
- Upper - gives an uppercase representation of the field

In [ ]:
SELECT LOWER(first_name), UPPER(last_name)
FROM people;

You can also take out parte of the string with the SUBSTR function. This function takes a few arguments:
- The field
- A number representing the number at whihc to start counting 
- And the number after which to stop in characters

To get the first 5 characters, we can use 

SUBSTR(last_name, 1, 5)

In [ ]:
SELECT LOWER(first_name), SUBSTR(last_name, 1, 5)
FROM people;

If we leave out the second number, it just cuts it at whichever character would represent the start of the range

In [ ]:
SELECT LOWER(first_name), SUBSTR(last_name, 3)
FROM people;

If we turn the number negative, the count starts from the end of the string, insted of the beginning.

-3 will give us the last 3 letters of the string

In [ ]:
SELECT LOWER(first_name), SUBSTR(last_name, -3)
FROM people;

We can also return text in the screen as we return it from the database with the REPLACE function. It takes a few arguments:
- The field we want to work with
- The next argument is the string to replace
- The third value is the string to replace that precious string with
    - It could be an empty string if we just want to omit a particular string from the results 

- The replacement is case sensitve

In this case we'll replace the letter a with an underscore (_)

In [ ]:
SELECT LOWER(first_name), REPLACE(last_name, 'a', '_')
FROM people;

We can use the CAST keyword to tell the database to interpret one datatype as another.

This can change the way we interact with the field

In [ ]:
SELECT quiz_points FROM people ORDER BY quiz_points;

In [ ]:
SELECT quiz_points FROM people ORDER BY CAST(quiz_points AS CHAR);

These two statements will give you different results. The first will perform a numeric sort, the second one will perform an alphanumeric sort.

We can also see this behavior with other functions, like the MAX function

In [ ]:
SELECT MAX(quiz_points) FROM people;

In [ ]:
SELECT MAX(CAST(quiz_points AS CHAR)) FROM people;

The second one will give you a max of 90 even though we know the scores go up to 100. This is because a string that starts with 9 will sort higher than any string that starts with 1

If we change it to an integer, then we would get the result that we expect

In [ ]:
SELECT MAX(CAST(quiz_points AS INT)) FROM people;

We can change the name of the returned field with the AS keyword

In [ ]:
SELECT first_name, last_name
FROM people;

The headers here are the same as the field names that I asked for. And if I transform the name a little bit, the column header changes to match.

In [ ]:
SELECT first_name, UPPER(last_name)
FROM people;

That can be useful if we want to know specifically what we asked for but if we're working with the output we might want a more friendly name

In this case, we can use AS to change the name of the field. This is called an Alias and it changes the header of the column in the output.

In [ ]:
SELECT first_name, UPPER(last_name) AS surname
FROM people;

This alias can't have spaces in it, and if you want to use spaces, you need to wrap up the name in apostrophes

In [ ]:
SELECT first_name, UPPER(last_name) AS 'Last Name'
FROM people;