# Data Types and Math in SQL

- A data type is the kind of data stored in a field: text, numeric, binary, etc
- Certain operations are not possible with certain types

## SQL Data Types

|Binary|Date/Time|Numbers|Text|
|---|---|---|---|
|BINARY|DATE|BIGINT|CHARACTER|
|BINARY LARGE OBJECT|INTERVAL|DECIMAL|CHARACTER LARGE OBJECT|
|BINARY VARYING|TIME|DOUBLE PRECISION|VARCHAR|
| |TIMESTAMP|FLOAT|NCHAR|
| | |INTEGER|NCHAR VARYING|
| | |NUMERIC| |
|**Other**| |SMALLINT| |
|BOOLEAN | |REAL| |

- The data type indicates what a fiels is optimized to store and what operations are possible on it.
    - **Binary**: optimized to store ones and zeros, representing whatever data that might be in a fixed or variable way
    - **Date and time**: indicate that the data in a field should be treated as a time value, and that's reflected in the way they're stored, compared, ans used.
    - **Numbers**: represent different types of numeric values, including integers of different lengths, floating points of various lengths and precisions, and so on
    - **Text**: represent different lengths of characters treated as text rather than as numbers or binary data
- There's types come into play when creating a table
- **NULL** value:
    - Represents nothing
    - Different than no, false, or zero
    - Null means that a value is empty


## Math in SQL
- Most basic; use a SELECT statement: SELECT(4+2)
- Supports arithmetic operators +,-,*,/, and modulo(%)
- Assumes integer operations unless otherwise specified


### Example
I'll write a statement that asks for the first name and a quiz score from out people table. And I'll ask for the records which have a quiz score of more than 70

In [ ]:
SELECT first_name, quiz_points
FROM people
WHERE quiz_points > 70;

If we want to include the people whose score is exactly 70, we could change the query to >=

In [ ]:
SELECT first_name, quiz_points
FROM people
WHERE quiz_points >= 70;

If we want to find out what the maximum and minimum scores on the quiz were, we could use the MAX and MIN functions

In [ ]:
SELECT MAX(quiz_points), MIN(quiz_points)
FROM people;

If we wanted to know what the total number of points scored on our quiz was, we could use the SUM function

In [ ]:
SELECT SUM(quiz_points)
FROM people;

Let's build a report that shows the breakdown of how many people are on each team, the total points earched by each team, and each team's average score.

In [ ]:
SELECT team, COUNT(*), SUM(quiz_points), AVG(quiz_points)
FROM people
GROUP BY team;

In [ ]:
SELECT team, COUNT(*), SUM(quiz_points), (SUM(quiz_points)/COUNT(*)) AS Average
FROM people
GROUP BY team;