# Add Data and Modify

## INSERT STATEMENT
- add data to a table
- We need to tell it what table to add data to, what field or fields to add information in, and then the values to put in those fields

In [ ]:
INSERT INTO tablename (field1, field2)
VALUES (value1, value2);

Let's add a record to out people table and insert the name "Bob"

In [ ]:
INSERT into people (first_name) VALUES ('Bob');

We take a look at the table

In [ ]:
SELECT *
FROM people;

We see that now there's record 1001, Bob. The first_name field has what we added, and all of the other fields have NULL in them because we didn't set any information or are empty or have no values stored in them

Let's add another INSERT statement to add more information, this time using a couple different fields

In [ ]:
INSERT INTO people (first_name, last_name, state, city, shirt_or_hat) 
VALUES ('Mary', 'Hamilton', 'OR', 'Portland', 'hat');

I'll run that and take a look at the table again

In [ ]:
SELECT *
FROM people;

Now we see that below Bob, we have Mary Hamilton from Portland, OR, who is a fan aof hats.

We can also add more than one record at a time, either by running multiple INSERT statements at once or by giving the field names and then a series of information in parentheses

In [ ]:
INSERT INTO people (first_name, last_name)
VALUES ('George', 'White'), ('Jenn', 'Smith'), ('Carol', 'Anderson');

Let's take a look at the table again.

And there are 3 new records below Mary Hamilton. Notice how we can selectively add information to our fields, we don't necessarily need to have all the information for our records, but that's not necessarily a good idea because there might be fields that are really important, so we want to maintin the integrity of the data when we're adding records

## UPDATE STATEMENT
- Change records in a table
- Data in the database can be modified using the UPDATE keyword
- To update the information, we need to tell the database which table we are using, what fields to update with what values and optionaly use a WHERE clause to specify how to find records to update
    - If you leave off a WHERE clause, the change will apply to the whole table

In [ ]:
UPDATE tablename SET field1=value1, field2=value2 WHERE condition;

Let's change the name of a recent entry from 'George' to 'Martha". Let's modify the record we just added

In [ ]:
UPDATE people
SET first_name='Martha'
WHERE first_name = 'George' AND last_name = 'White';

Now we can see that the name changed and instead of having George White we have Martha White.

We can also update more than one record at a time using the WHERE clause differently

Let's say that one of the companies got bought out and Fisher LLC is now Megacorp Incorporated.

Let's find records where the company is Fisher LLC

In [ ]:
SELECT *
FROM people
WHERE company = 'Fisher LLC';

And now, let's update that to Megacorp Incorporated

In [ ]:
UPDATE people 
SET company='Megacorp Incorporated'
WHERE company = 'Fisher LLC';

And now, if we look for the people that work for Fisher LLC, there's no results

In [ ]:
SELECT *
FROM people
WHERE company = 'Fisher LLC';

But if we look for the people that work for Megacorp Incorporated, then there they are

In [ ]:
SELECT *
FROM people
WHERE company = 'Megacorp Incorporated';

## DELETE STATEMENT
- Remove records from a table
- We need to tell the database from where it should delete something, and it's a good idea to add a condition to set the scope of deletion

In [ ]:
DELETE FROM tablename WHERE condition;

If there is no condition, it will delete everything in the table.

Let's get rid of some records. Let's delete Martha White

In [ ]:
DELETE FROM people 
WHERE first_name = 'Martha' AND last_name = 'White';

We check the people table again and we see that Martha White is gone

In [ ]:
SELECT *
FROM people;

We can delete more than one record at a time too with a condition that matches more than one record.

All of these new records have a NULL id_number, so let's use that

I'll change my delete statement to delete from people where id_number is NULL

In [ ]:
DELETE FROM people WHERE id_number = NULL;

Now let's take a look at the table again

In [ ]:
SELECT *
FROM people;

We can see that the records that we added have been removed from the table